style.css
html{
  /* Set height of the html page to 100% of the browser height */
  height: 100%;
  /* Hide horizontal scroll */
  overflow-x: hidden;
  font-family: 'Helvetica', sans-serif;
}

body{
  /* Set height of the body to 100% -- separated out of html to allow scrollTo animation */
  height: 100%;
  margin: 0px;
}

/* 
Navigation Bar 
*/
#nav{
  /* Fix navigation bar at the top middle of the web page */
    position: fixed;
    /* calc() CSS function calculates numbers of different units */
    left: calc(50% - 100px);
    top: 20px;
    /* Display nav bar on top of everything else */
    z-index: 1;
}

.nav-btn{
  width: 50px;
    height: 50px;
    /* Make square div into a circle */
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    /* transition changes in background-color */
    transition: background-color 0.5s;
}

/* When a nav-btn is hovered on, set background-color to black */
.nav-btn:hover{
  background-color: whitesmoke;
}

/* 
Cat Div
*/
#cat-div{
  /* Fix cat div in the bottom left corner of the web page */
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 200px;
  text-align: center;
}

#cat{
  width: 200px;
  margin-top: 18px;
}

#cat-text{
  color: white;
/*  background-color: ;*/
  font-size: 32px;
}

/* 
Parallax: Mountain and Ocean sections;
*/
#mountain, #ocean, #scene1, #scene2{
  /* Set height of div to 100% */
  height: 100%;
  /* The bottom three background CSS settings create parallax effect */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#mountain{
  /* Set background image of mountain section using url() function */
  background-image: url('img/space.png');
}

#ocean{
  /* Set background image of ocean section using url() function */
  background-image: url('img/moon.jpeg');
}

#scene1{
  /* Set background image of mountain section using url() function */
  background-image: url('img/venus.jpeg');
}

#scene2{
  /* Set background image of mountain section using url() function */
  background-image: url('img/mercury.png');
}

/* 
Flower div inside Mountain section
*/
#flower-div{
    position: relative;
    width: 150px;
    text-align: center;
    top: calc(100% - 300px);
    left: calc(50% - 75px);
}

#flower{
  width: 100px;
  margin-top: 25px;
}

#flower-text{
  color: white;
}

/* 
Fish div inside Ocean section
*/
#fish-div{
    position: relative;
    width: 180px;
    height: 50px;
    text-align: center;
    left: calc(50% - 90px);
}

#fish-text{
  color: black;
  background: white;
}

#fish{
    width: 100px;
    display: block;
    margin: auto;
    transform: rotate(-10deg);
}

/* 
Text sections after Mountain and Ocean sections
*/
.text-section{
  /* Center text in the middle of browser using flexbox */
  height: 10%;
  background-color: slategrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  width: 70%;
}